* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    padding: 24px;

    background: #ffffff;
}

.qr-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

#qr {
    display: flex;
    align-items: center;
    justify-content: center;
}
